<hr>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <h3 class="text-center">WHO I AM</h3>
        
		  
  <p class="text-center">I like full stack web development!</p>

      </div>
		
		<div class="col-md-4 col-12">
			<h3 class="text-center">GET IN TOUCH</h3>
        <p class="text-center"> <a href="mailto:eugene.murray@emcloud.co" target="_top"><i class="fas fa-at"></i> email me - eugene.murray@emcloud.co</a></p>
      </div>
		
      
      <div class="col-md-4 col-12">
        <h3 class="text-center">NEWSLETTER</h3>
        <form>
          <div class="form-group col-12">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <button type="submit" class="btn btn-dark mt-2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>emcloud.co <i class="fas fa-copyright"></i> 2018</p>
      </div>
    </div>
  </div>
</footer>
