.loading-container {
    text-align: center;
}
#loading {
    display: inline-block;
    width: 100%;
}
.container-fluid {
    display: none;
}
.index-banner-intro {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.intro-title {
    font-size: 30px;
}
.intro-title2 {
    font-size: 25px;
    display: block;
}
#small-pluralsight {
    display: none;
}

#back-to-top {
     position:fixed;
     bottom:40px;
     right:0;
	 z-index: 200;
} 

.element-margin-botton {
	margin-bottom: 10px;
}

.home-tags {
	height: 100%;
}

@media only screen and (max-width: 800px) {
#small-pluralsight {
    display: block;
}
#large-pluralsight {
    display: none;
}
.intro-title {
    font-size: 20px;
}
.intro-title2 {
    font-size: 15px;
}
}
